.websiteLogoImageElement {
  height: 100%;
  margin-left: 2vw;
}

.themeImageEl {
  height: 100%;
}

.themeButton {
  border: none;
  background-color: transparent;
  height: 100%;
}

.link {
  text-decoration: none;
  cursor: pointer;
}
